<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background-color: #ffd3f9;
        color: rgb(0, 0, 0);
    }
</style>
<body>
    <button>Change Pets</button>
    <h3>Change pet name</h3>
    <input name="petName" type="text" placeholder="Pet Name"> <br>
    <button>Save Changes</button>
    
</body>
</html>