<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    #hungerBarContainer {
        width: 300px;
        height: 30px;
        border: 1px solid #000;
        margin-bottom: 20px;
    }
    #hungerBar {
        height: 100%;
        background-color: #ffd3f9;
        width: 100%;
    }#sleepBarContainer {
        width: 300px;
        height: 30px;
        border: 1px solid #000;
        margin-bottom: 20px;
    }
    #sleepBar {
        height: 100%;
        color: #2a8eec;
        width: 100%;
    }

    #feedButton {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background-color: #ffd3f9;
        color: rgb(0, 0, 0);
    }
    #sleepButton {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background-color: #8fc1f0;
        color: rgb(0, 0, 0);
    }
    
    button {padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background-color: #f9b4ff;
        color: rgb(0, 0, 0);}
    #feedButton:disabled {
        background-color: grey;
    }

    #sleepButton:disabled {
        background-color: grey;
    }
</style>

<body>
    <h1>Hey, I'm <%= petName %></h1>
    <img src="../img/dog.png">
    <br>
    <div id="hungerBarContainer">
        <div id="hungerBar"></div>
    </div>
    <div id="sleepBarContainer"></div>
        <div id="sleepBar"></div>
    </div>

    <button id="feedButton">Feed</button> <br>
    <button id="sleepButton">Sleep</button> <br>
    <button><a href="/logout">LogOut</a></button> <br>
    <button><a href="/changes">Change Stuff about your pets</a></button>


</html>


<script>
    const hungerBar = document.getElementById('hungerBar');
    const feedButton = document.getElementById('feedButton');
    const funBar = document.getElementById('funBar');
    const funButton = document.getElementById('funButton');
    const sleepBar = document.getElementById('sleepBar');
    const sleepButton = document.getElementById('sleepButton');
    // Updates hunger bar 
    function updateHungerBar(hunger) {
        hungerBar.style.width = hunger + '%';
    }
    async function fetchHunger() {
        const response = await fetch('/hunger');
        const data = await response.json();
        updateHungerBar(data.hunger);
        feedButton.disabled = data.hunger >= 100;
    }
    // allows user to feed the pet
    feedButton.addEventListener('click', async () => {
        await fetch('/feed', { method: 'POST' });
        fetchHunger();
    });
    setInterval(fetchHunger, 1000);
    fetchHunger(); 

    // Updates sleep bar || takes longer than hunger
    function updatesleepBar(sleep) {
        sleepBar.style.width = sleep + '%';
    }
    async function fetchsleep() {
        const response = await fetch('/sleep');
        const data = await response.json();
        updatesleepBar(data.sleep);
        sleepButton.disabled = data.sleep >= 100;
    }
    sleepButton.addEventListener('click', async () => {
        await fetch('/sleep', { method: 'POST' });
        fetchsleep();
    });
    setInterval(fetchsleep, 1000);
    fetchsleep();
</script>
</body>

</html>